/*CSS DOCUMENT*/

h1 {
	color: (0,0,255);
	font-family: sans-serif;
	font-size: 3em;
	background-color: (46,139,87);
	font-weight: bold;
	order-bottom: 2px solid currentColor;
}

h2 {
	color: (135,206,235);
	font-family: sans-serif;
	font-size: 1.5em;
	background-color: (46,139,87);
}

h3 {
	color: (128, 128, 128);
	font-family: sans-serif;
	font-size: 1em;
	background-color: (46,139,87);
	text-transform: uppercase;
}

h4 {
	color: (0,0,0);
	font-family: sans-serif;
	font-size: 0.75em;
	background-color: (46,139,87);
}

p {
	color: (128, 128, 128);
	font-family: sans-serif;
	font-size: 0.75em;
	background-color: (46,139,87);
}

li {
	list-style: none;
}
